streamlit==1.38.0
ultralytics==8.2.90  # 作為後備或其他模型使用
opencv-python-headless==4.9.0.80  # 降版本以提升相容性
Pillow==10.4.0
torch==2.2.0
numpy==1.24.4
matplotlib==3.7.1  # yolo hub 有時需要
psutil==5.9.8
requests==2.32.3
